* {
    line-height: 30px;
}

.sub-node {
    padding-left: 10px;
}

.sub-node-name {
    font-weight: normal;
}

.super-node-name {
    font-weight: 800;
}

.add-node {
    cursor: pointer;
}

.add-node:before {
    content: " + ";
}

.remove-node {
    cursor: pointer;
}

.remove-node:before {
    content: " - ";
}

.node-collapse {
    cursor: pointer;
}

.node-collapse:before {
    content: "\25bc \00a0";
}