body {
    line-height: 40px;
    font-size: 1.2em;
}

.sub-node {
    padding-left: 20px;
}

.sub-node-name {
    font-weight: normal;
}

.super-node-name {
    font-weight: 800;
}

.add-node:before {
    content: " ";
}

.add-node:after {
    content: "Add";
    cursor: pointer;
    text-decoration: underline;
}

.edit-node:before {
    content: " ";
}

.edit-node:after {
    content: "Edit";
    cursor: pointer;
    text-decoration: underline;
}

.remove-node:before {
    content: " ";
}

.remove-node:after {
    content: "Delete";
    cursor: pointer;
    text-decoration: underline;
}

.node-collapse {
    cursor: pointer;
}

.node-collapse-closed:before {
    cursor: pointer;
    content: "\25ba \00a0";
}

.node-collapse-open:before {
    cursor: pointer;
    content: "\25bc \00a0";
}

.insert-new-node{
    padding-left: 20px;
}